.border-gray {
  @apply border border-gray-300;
}
.btn-blue {
  @apply px-2 py-1 text-white bg-blue-500;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
.img-border {
  padding: 1px;
  border: 1px solid #ecc94b;
}
.keep-all {
  word-break: keep-all;
}
